<h1 class="text-center">Votre panier</h1>

<p-dataView #dv [value]="cart().items" [emptyMessage]="'Aucun article dans votre panier'">
    <ng-template pTemplate="list" let-cartItems>
        <div class="grid grid-nogutter">
            <div class="col-12" class="col-12">
            @for (item of cartItems; track item) {
                <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3 border-top-1 surface-border">
                    <div class="md:w-10rem relative">
                        <img class="block xl:block mx-auto border-round w-full" [src]="'assets/images/' + item.product.image" [alt]="item.product.name" (error)="onImgError($event)"/>
                    </div>
                    <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                        <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                            <div>
                                <span class="font-medium text-secondary text-sm">{{ item.product.category }}</span>
                                <div class="text-lg font-medium text-900 mt-2">{{ item.product.name }}</div>
                            </div>
                            <div class="surface-100 p-1" style="border-radius: 30px">
                                <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                    <span class="text-900 font-medium text-sm">{{ item.product.rating }}</span>
                                    <i class="pi pi-star-fill text-yellow-500"></i>
                                </div>
                            </div>
                            <div>
                                <label class="mb-2 block font-medium text-secondary text-sm" for="horizontal">
                                    Quantité
                                </label>
                                <p-inputNumber [(ngModel)]="item.quantity" (onBlur)="onQuantityChange(item)" [min]="1" [allowEmpty]="false" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"/>
                            </div>
                        </div>
                        <div class="flex flex-column md:align-items-end gap-5">
                            <span class="text-xl font-semibold text-900">{{ '$' + item.product.price }}</span>
                            <div class="flex md:flex-row gap-2">
                                <p-button icon="pi pi-shopping-cart" label="Retirer" severity="danger" (onClick)="onDelete(item.product)" /> 
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </ng-template>
</p-dataView>